@media all and (max-width: 1380px) {

    /* Header */

    header {
        height: 100px;
    }

    .name-site {
        font-size: 50px;
    }

    /* Main */

    main {
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 350px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Panel */

    .panel  {
        border: none;
        border-top: 2px solid #438AB1;
    }

    .target {
        margin-bottom: 0;
    }

    .buttons a {
        width: 180px;
        font-size: 35px;
        margin-bottom: 30px;
    }

    .social {
        height: 80px;
    }

    .social img {
        margin-top: 5px;
        width: 60px;
        height: 60px;
    }
    
    /* Footer */

    footer {
        display: none;
    }
}
